apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # PostgreSQL
  - postgres/secret.yaml
  - postgres/pvc.yaml
  - postgres/statefulset.yaml
  - postgres/service.yaml
  # Redis
  - redis/deployment.yaml
  - redis/service.yaml
  # Backend
  - backend/configmap.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - backend/hpa.yaml
  # Frontend
  - frontend/configmap.yaml
  - frontend/deployment.yaml
  - frontend/service.yaml
