apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: todolist-dev

resources:
  - ../../base

patches:
  - path: patches/backend-config.yaml

replicas:
  - name: backend
    count: 1
  - name: frontend
    count: 1

commonLabels:
  environment: development
